<p id="notice"><%= notice %></p>

<h1>Listing Lawyers</h1>

<table class="flakes-table" style="width:100%" cellpadding="5">
  <thead align="center">
    <tr>
      <th>Name</th>
      <th>Case type</th>
      <th>Case win</th>
      <th>Case loose</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @lawyers.each do |lawyer| %>
      <tr>
        <td><%= lawyer.name %></td>
        <td><%= lawyer.case_type %></td>
        <td><%= lawyer.case_win %></td>
        <td><%= lawyer.case_loose %></td>
        <td><%= lawyer.fee %></td>
        <td><%= link_to 'Show', lawyer %></td>
        <td><%= link_to 'Edit', edit_lawyer_path(lawyer) %></td>
        <td><%= link_to 'Destroy', lawyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawyer', new_lawyer_path %>
