<p id="notice"><%= notice %></p>
<fieldset class="flakes-information-box">
<table class="flakes-table" style="width:100%" cellpadding="5">

  <thead>
    <tr>
      <th>Client</th>
      <th>Case Type</th>
      <th>Case-Details</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.case_type %></td>
        <td><button><strong><%= link_to 'View List of Lawyers For This Case', user %></strong></button></td>
        <td><%= user.case_details %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><strong><%= link_to 'Add New User', new_user_path %></strong></button>

</fieldset>
