<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Case type:</strong>
  <%= @user.case_type %>
</p>

<p>
  <strong>Case details:</strong>
  <%= @user.case_details %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br>

<h2>Available Lawyers for your case</h2>

<table class="flakes-table" style="width:100%" cellpadding="5">
  <thead align="center">
    <tr>
      <th>Name</th>
      <th>Case type</th>
      <th>Case win</th>
      <th>Case loose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @lawyers.each do |lawyer| %>
      <tr>
        <td><%= lawyer.name %></td>
        <td><%= lawyer.case_type %></td>
        <td><%= lawyer.case_win %></td>
        <td><%= lawyer.case_loose %></td>
        <td><%= link_to 'Details', lawyer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

